@font-face {
    font-family: 'vato';
    src: url('./KINO40.ttf');
}
.bmenu{
    padding: 0px;
    margin: -50px 0 10px 0;
    position: relative;
}
.bmenu li{
    font-size: 35px;
    display: block;
}
.bmenu li a{
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 2px #fff;
	color: #fff;
	padding: 5px 20px;
	margin: 2px;
	background: rgba(0,0,0,0);
	letter-spacing: 1px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.bmenu:hover li a{
	text-shadow: 0px 0px 10px #fff;
	color: transparent;
	background: rgba(0,0,0,0);
}
.bmenu li a:hover{
	background: rgba(0,0,0,0);
	text-shadow: 0px 0px 1px #fff;
}
.name {
    position: relative;
    font-family: 'vato';
    color: #912132;
    font-size: 150px;
	/*text-shadow: 0px 0 0 #fff;*/
    left: 170px;
    width: calc(100% - 170px);
}
.name-about{
    position: fixed;
    color: #912132;
    font-family: 'vato';
    font-size: 90px;
    bottom: 4%;
    right: 9%;
}
.about-title {
    position: relative;
    color: #912132;
    font-family: 'vato';
    left: 20%;
    top: 30px;
    font-size: 150px;
}
.links {
    position: fixed;
    top: 30px;
    right: 30px;
}
.about-frame {
    position: absolute;
    background-color: rgba(178, 178, 178, 0.1);
    box-shadow: 0 0 20px rgba(178, 178, 178, 0.2);
    font-size: 18px;
    color: #b2b2b2;
    padding: 3%;
    filter: blur(5px);
    top: 25%;
    left: 4%;
    width: 46%;
    margin-bottom: 5%;
    /*border: 1px dashed orange;*/
    border-radius: 15px;
}