<div id="about" class="name-about">
    mike buckley
</div>
<div class="about-title">
    about
</div>
<div class="about-frame">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae sit iure, soluta debitis reiciendis labore ad culpa id quam beatae maiores alias quaerat cupiditate! Aliquam optio reiciendis dolorum facilis dolorem!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, doloribus eaque ab a, illo quis nihil nam beatae odit repellat tempora aliquam, officiis nobis atque inventore error, ducimus placeat id.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ut saepe totam, at molestias quasi repudiandae assumenda dolores quas iure hic, animi esse molestiae magni facilis veritatis! Quia, a, rerum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae sit iure, soluta debitis reiciendis labore ad culpa id quam beatae maiores alias quaerat cupiditate! Aliquam optio reiciendis dolorum facilis dolorem!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, doloribus eaque ab a, illo quis nihil nam beatae odit repellat tempora aliquam, officiis nobis atque inventore error, ducimus placeat id.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ut saepe totam, at molestias quasi repudiandae assumenda dolores quas iure hic, animi esse molestiae magni facilis veritatis! Quia, a, rerum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae sit iure, soluta debitis reiciendis labore ad culpa id quam beatae maiores alias quaerat cupiditate! Aliquam optio reiciendis dolorum facilis dolorem!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, doloribus eaque ab a, illo quis nihil nam beatae odit repellat tempora aliquam, officiis nobis atque inventore error, ducimus placeat id.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ut saepe totam, at molestias quasi repudiandae assumenda dolores quas iure hic, animi esse molestiae magni facilis veritatis! Quia, a, rerum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae sit iure, soluta debitis reiciendis labore ad culpa id quam beatae maiores alias quaerat cupiditate! Aliquam optio reiciendis dolorum facilis dolorem!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, doloribus eaque ab a, illo quis nihil nam beatae odit repellat tempora aliquam, officiis nobis atque inventore error, ducimus placeat id.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ut saepe totam, at molestias quasi repudiandae assumenda dolores quas iure hic, animi esse molestiae magni facilis veritatis! Quia, a, rerum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae sit iure, soluta debitis reiciendis labore ad culpa id quam beatae maiores alias quaerat cupiditate! Aliquam optio reiciendis dolorum facilis dolorem!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, doloribus eaque ab a, illo quis nihil nam beatae odit repellat tempora aliquam, officiis nobis atque inventore error, ducimus placeat id.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ut saepe totam, at molestias quasi repudiandae assumenda dolores quas iure hic, animi esse molestiae magni facilis veritatis! Quia, a, rerum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae sit iure, soluta debitis reiciendis labore ad culpa id quam beatae maiores alias quaerat cupiditate! Aliquam optio reiciendis dolorum facilis dolorem!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, doloribus eaque ab a, illo quis nihil nam beatae odit repellat tempora aliquam, officiis nobis atque inventore error, ducimus placeat id.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ut saepe totam, at molestias quasi repudiandae assumenda dolores quas iure hic, animi esse molestiae magni facilis veritatis! Quia, a, rerum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae sit iure, soluta debitis reiciendis labore ad culpa id quam beatae maiores alias quaerat cupiditate! Aliquam optio reiciendis dolorum facilis dolorem!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, doloribus eaque ab a, illo quis nihil nam beatae odit repellat tempora aliquam, officiis nobis atque inventore error, ducimus placeat id.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ut saepe totam, at molestias quasi repudiandae assumenda dolores quas iure hic, animi esse molestiae magni facilis veritatis! Quia, a, rerum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae sit iure, soluta debitis reiciendis labore ad culpa id quam beatae maiores alias quaerat cupiditate! Aliquam optio reiciendis dolorum facilis dolorem!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, doloribus eaque ab a, illo quis nihil nam beatae odit repellat tempora aliquam, officiis nobis atque inventore error, ducimus placeat id.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ut saepe totam, at molestias quasi repudiandae assumenda dolores quas iure hic, animi esse molestiae magni facilis veritatis! Quia, a, rerum!
</div>
<!--<div class="content">
    <ul class="bmenu">
        <li><a href="#about">About</a></li>
        <li><a href="../images/My_Resume.pdf">Resume</a></li>
        <li><a href="#projects">Personal Projects</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</div>-->